<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Albums!</title>
</head>
<body>
    <h1>All the Albums</h1>
        <ul>
            <li th:each="album : ${albums}">
               Album Title: <span th:text="${album.title}"></span><br>
                Artist: <span th:text="${album.artist}"></span><br>
               Song Count: <span th:text="${album.songCount}"></span><br>
                Album Length: <span th:text="${album.length}"></span><br>
                Album Image: <span th:text="${album.imageUrl}"></span><br>
                <a th:href="@{'/details/' + ${album.id}}">Details</a>
            </li>
        </ul>
    <a th:href="@{/albums/new/}">Add an Album</a>
</body>
</html>