<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
<h1>Details of the Album</h1>
<img th:text="${albumdetail.imageUrl}"/>
<h2 th:text="${albumdetail.title}"></h2>
<p th:text="${albumdetail.artist}"></p>
<span>Songs:</span>
<ul>
    <li th:each="song: ${albumdetail.songs}">
        <span th:text="${song.trackNumber}"></span>
        <span th:text="${song.title}"></span>
        <span th:text="${song.length}"></span>
    </li>
</ul>
<a th:href="@{'/songs/new/' + ${id}}">Add a Song</a>
</body>
</html>